@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {

}

#logo {
  font-family: "Montserrat Alternates";
  display: inline-block;
  text-align: center;
  padding: 20px 20px;
  color: #111;
  text-decoration: none;
  font-size: 20px;
}
#ingredientsHeader {
  font-family: "Montserrat Alternates";
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-size: 17;
}
#ingredients {
  font-family: "Montserrat Alternates";
  text-align: left;
  font-size: 15px;
  margin: 30px;
}

.thumb {
  margin: 5% 10%;
  width: 80%;
}

.pictureofme {
  margin: 50%;
  width: 10px;

}
.center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          height: 100%;
}
.clearfix:after{
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        content: '';
        visibility: hidden;
}

.text {
  font-size: 70px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    }

header {
        width: 100%;
        background-color: #999;
        line-height: 70px;
}
h1 {
        max-width: 20%;
        float: left;
        font-size: 20px;
        margin: 0px;
        font-family: "Montserrat Alternates";
        text-align: LEFT;

      }

      h2 {
        font-family: "Montserrat Alternates";
        text-align: CENTER;
        font-size: 50px;

      }
      p {
        font-family: "Montserrat Alternates";
        text-align: left;
        font-size: 25px;
        margin: 30px;
        
      }

      nav ul{ /* Makes the nav links to the right of the header */
        max-width: 80%;
        float: right;

      }

      nav li { /* Makes it so that the links arent bulleted, but next to each other */
        display: inline-block;
        font-family: "Montserrat Alternates";
      }

      ul li a { /* Makes the links on the top right a lot cleaner (spacing and removes the purple color and underlines) */
        display: block;
        text-align: center;
        padding: 10px 40px;
        color: #333;
        text-decoration: none;
      }
      ul li a:hover { /* When hover, it creates black box and font color changes to */
        background-color: rgb(0,102,204,.7);
        color: white;
      }

      ul li b {
        display: block;
        text-align: center;
        padding: 10px 40px;
        text-decoration: none;
        background-color: rgb(204,0,0,.7);
        color: white;
      }
      /* Desktop mode first , this styles large screens by default
      as we scale down with media queries, we are going to override for tablets or phones */
      body {
        background-color: rgb(0);
      }

      .blur {
      filter: blur(8px);
        -webkit-filter: blur(8px);
      }
      .thumb {
        display: inline-block;
        width:  30%;
        margin: 10% 35%;
      }
      .thumb img {
        width: 100%;
        height: 100%;
      }

      .dakdori img {
        margin: 5% 32.5%;
        width:  35%;
      }
      .bg-text {
          background-color: rgb(0,0,0); 
          background-color: rgba(0,0,0, 0.4); 
          color: white;
          font-weight: bold;
          border: 3px solid #f1f1f1;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
        z-index: 2;
          width: 70%;
          padding: 10px;
          text-align: LEFT;
      }

      /* Tablet Size */

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        #logo{
          font-size: 15px;
        }
        body {
          background-color: white;
        }
        h2 {
        font-family: "Montserrat Alternates";
        text-align: CENTER;
        font-size: 25px;
        }

        .bg-text {
          padding: 2px;
         }
        .thumb {
        width: 60%;
        margin: 10% 20%;
        }

        p {
          font-size: 20px;
        }
        }


      
      /* Mobile phones and smaller screens */
      @media only screen and (max-width: 768px) {
        body {
          background-color: white;
        }
        .thumb {
          width: 30%;
          margin: 35%;
        }
        .column {
          float: center;
          width: 100%;
        }
        .bg-text {
          background-color: none; 
          background-color: none; 
          color: black;
          font-weight: bold;
          border: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 70%;
          padding: 10px;
          text-align: CENTER;
      }

        .row:after {
          content: none;
          display: inline-block;
          clear: none;
        }
        #ingredientsHeader {
          font-family: "Montserrat Alternates";
          display: inline-block;
          text-align: center;
          font-weight: bold;
          font-size: 10;
        }
        #ingredients {
          font-family: "Montserrat Alternates";
          text-align: CENTER;
          font-size: 30px;
          margin: 30px;
        }

      }